#btnaddemp{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #70F170CC;
    -fx-text-fill: black;
    -fx-font-size: 20;
}

#btnadddoc{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #70F170CC;
    -fx-text-fill: black;
    -fx-font-size: 20;
}

#btnempinfo{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #A9A9A9;
    -fx-text-fill: black;
    -fx-font-size: 20;
}

#btndocinfo{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #A9A9A9;
    -fx-text-fill: black;
    -fx-font-size: 20;
}

