#btninfo{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #A9A9A9;
    -fx-text-fill: black;

}

#btnnew{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #70F170CC;
    -fx-text-fill: black;

}

#btnsearch{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #1AACAC;
    -fx-text-fill: black;

}

