#btnnewpet{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #70F170CC;
    -fx-text-fill: black;
}

#btnpetinfo{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #A9A9A9;
    -fx-text-fill: black;
}

#btnnewowner{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #70F170CC;
    -fx-text-fill: black;
}

#btnownerinfo{
    -fx-border-color: #361500;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-background-color: #A9A9A9;
    -fx-text-fill: black;
}

